langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
chromadb
faiss-cpu
pypdf
pymupdf
unstructured
sentence-transformers
python-dotenv
tiktoken
fastapi
uvicorn
streamlit
requests
pandas
numpy
rank-bm25
langchain-text-splitters